<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
</head>
<body>
    <h1>DJANGO BLOG</h1>
    <h3>Current Time: {{ time_now }}</h3>
    {% for article in articles %}
        {% if article.draft == False %}
            <article>
                <a href="{% url 'article_details' id=article.pk %}">
                    <h2>{{ article.title }}</h2>
                </a>
                <h4>by {{ article.author }}</h4>
                <p>{{ article.body|linebreaksbr }}</p>
                <p>Published: {{ article.published_date }}</p>
            </article>
        {% endif %}
    {% endfor %}
</body>
</html>