<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
</head>
<body>
    <header>
        <h1><a href="/articles">DJANGO BLOG</h1></a>
        <h3>Current Time: {{ time_now }}</h3>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>Copyright © Django Blog ~ 2019</footer>
    
</html>