<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css.map">
</head>
<body>
    <header>
        <h1><a href="/articles">DJANGO BLOG</h1></a>
        <h3>Current Time: {{ time_now }}</h3>
        <ul>
            {% if request.user.is_authenticated %}
                <li><h5><a href="{% url 'logout' %}">Logout</h5></a></li>
                <li><h5><a href="{% url 'new_article' %}">Post New Article</h5></a></li>
            {% else %}
                <li><h5><a href="{% url 'login' %}">Login</h5></a></li>
                <li><h5><a href="{% url 'signup' %}">Sign Up</h5></a></li>
            {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>Copyright © Django Blog ~ 2019</footer>
    
</html>