<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog Part I</title>
</head>
<body>
    <h1>DJANGO BLOG PART I</h1>
    <h3>Date Created: July 25, 2019</h3>
        <ul>
            <p>What is a client?</p>
            <li>A device that is sending data requests to the web</li>
            <p>What is a server?</p>
            <li>The server stores data to send back to the client</li>
            <p>What is an HTTP request?</p>
            <li>A request from client to server utilizing the Hypertext Transfer Protocol</li>
            <p>What is an HTTP response?</p>
            <li>The response from the server to the clients request utilizing the Hypertext Transfer Protocol</li>
            <p>What is Django and why do we use it?</p>
            <li>Django is an open-source python web framework used for rapid development</li>
        </ul>
</body>
</html>